.header {
  background-color: var(--primary);
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.add {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--secondary);
}

.navLinks .add:hover {
  background-color: rgba(33, 208, 122, 0.8);
  color: var(--primary);
}

.nav a {
  transition: 0.2s;
}

.nav a:hover {
  color: rgba(255, 255, 255, 0.8);
}
