@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
  --primary: #032541;
  --secondary: #20cf7b;
  --white: #fff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 73.125rem;
  padding: 0.9375rem;
  margin: 0 auto;
  /* if necessary apply 15px padding */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

.notLoaded {
  width: 75px;
  border-radius: 5px;
  background: #777;
  height: 112.5px;
}

.movieCard {
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s ease;
}

.movieCard:hover {
  box-shadow: 0 0 0 3px var(--secondary);
}

.addMovie {
  margin-top: 1.5rem;
  color: #bbb;
}
